body, html{
    margin: 0 auto;
    padding: 0 auto;
    background-color: #0CE6FF;
}

h1{
    font-family: 'Pacifico', cursive;
    margin: 20px;
}

.mylistinput{
    margin-left: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list{
    background-color: #dadfea;
    width: 80%;
    border-radius: 15px;
    margin: 10px;
}

.list-row{
    width: 95%;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-items{
    padding: 10px;
}

.item-add-row{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-row{
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: azure;
    border-radius: 10px;
}

.trash, .handle{
    padding: 5px;
}

.clear-completed-items{
    margin: 5px;
}





